---
const { rssLabel } = Astro.props
---
<style>
  footer {
    border-top: 1px solid #ddd;
    margin-top: 6rem;
  }

  .footer-container {
    max-width: 900px;
    margin: 0 auto;
    padding: 2rem 1rem;
  }

  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #666;
    font-size: 0.875rem;
  }

  .footer-content a:hover {
    color: #0066cc;
  }
</style>

<footer>
  <div class="footer-container">
    <div class="footer-content">
      <p>© {new Date().getFullYear()} Marco Schneider</p>
      <a href={`/rss.xml`}>
        {rssLabel}
      </a>
    </div>
  </div>
</footer>
